<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Origin Coffee</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Participants
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/vendor']">Vendor</a>
          </li>
          <li>
            <a [routerLink]="['/coop']">Cooperative</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
