<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

          <div class="form-group text-left">
            <label for="coffeeId">coffeeId</label>

            <input formControlName="coffeeId" type="text" class="form-control">

          </div>

          <div class="form-group text-left">
            <label for="pounds">pounds</label>

            <input formControlName="pounds" type="number" step='any' class="form-control">

          </div>


          <div class="form-group text-left">
            <label for="organic">organic</label>

            <input formControlName="organic" type="checkbox" class="form-control">

          </div>


          <div class="form-group text-left">
            <label for="variety">variety</label>

            <input formControlName="variety" type="text" class="form-control">

          </div>


          <div class="form-group text-left">
            <label for="owner">owner</label>

            <textarea formControlName="owner" class="form-control" rows="3"></textarea>

          </div>



        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{errorMessage}}
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">

            <th class="info">coffeeId</th>

            <th class="info">pounds</th>

            <th class="info">organic</th>

            <th class="info">harvestedAt</th>

            <th class="info">variety</th>

            <th class="info">owner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">


            <td>{{asset.coffeeId}}</td>

            <td>{{asset.pounds}}</td>

            <td>{{asset.organic}}</td>

            <td>{{asset.harvestedAt}}</td>

            <td>{{asset.variety}}</td>

            <td>{{asset.owner}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
